if SHIELD_MY_HSHS46_LEFT

config ZMK_KEYBOARD_NAME
    default "hshs46"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_MY_HSHS46_LEFT

if SHIELD_MY_HSHS46_LEFT || SHIELD_MY_HSHS46_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_MY_HSHS46_LEFT || SHIELD_MY_HSHS46_RIGHT
